.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  /* min-width: 320px; */
}
.p2p
{
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
  color: white;
}
.leaflet-container
{
  height: 300px;
  width: 100%;
}
.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}


.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #bb8c0b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btm-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;  min-width: 320px;
}
.btm-container {
  display: flex;
  background: #ffff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  min-width: 320px;
}

.footer-container{
  
}
.footer-nav{
  /* background-color: #333; */
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  min-width: 320px;
}
.content-container {
  background-color: gray;
  max-width: 100%;
}

.paper {
  min-width: 175px;
  min-height: 225px;
  background-color: aqua;
}
.content-image {
  height: 180px;
  display: block;
  max-width: 175px;
  overflow: hidden;
  width: 90%;
  position: relative;
  margin-right: 17px;
}

.header-nav{
height: 50px;
text-align: center;
background-color: #efdb5e;
color:black ;
padding-top:6px;
height: 45px;
}
.logo-name{
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 30px;
  font-weight:bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
.header-welcome{
  align-items: right;
  border-radius: 20px;
}

