.App {
  text-align: center;
  background-color: #ffffff;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  min-width: 320px;
  width: 100%;
  /* place-content: center; */
  
}

.account-avatar{
  float: right;
  margin-top: -45px;
  margin-right: 5px;
}
.back-btn-stores{
float: left; 
}
.p2p
{
  /* text-align-last: center; */
}
.searchfield{
  font-style: italic;
  background-color: #ffffff50;
  width: 100%;
  margin: 0;
  position: relative;
  align-items: center;
}
.store-list{
  /* padding-top:40px; */
}
.leaflet-container
{
  height: 300px;
  width: 100%;
}
.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
}


.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.MuiAppBar-colorPrimary {
  color: #fff;
  background-color: #ffffff25;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Bottom Navigation Section */
.footer-nav{
  flex-grow: 1;
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 1;
  min-width: 320px;
  
  }
  .bottom-nav{
    align-self: center;
  }
  /* ------------------------- */

/* Store Tab Container */

.content-container {
  background-color: rgba(39, 39, 39, 0.075);
  /* margin-top: 10px; */
  text-align: -webkit-center;
  min-width: 320px;
}
.store-image {
  height: 230px;
  width: 320px;
  /* margin-right: 17px; */
  border: 12px;
}

.store-name{
  /* background-color: rgba(0, 0, 0, 0.068); */
  /* position: relative; */
  float: left;
  /* border-radius: 10px; */
  margin-top: -98.5px;
  /* z-index: 1; */
  position: absolute;
  background-color: #4141416b;
  width: 320px;
  color: #ffffff;
  /* margin-left: 5%; */
}
#store-name {
/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
font-family:cursive;
margin-left: 5px;
text-align: left;
/* background-color: rgb(243, 243, 243); */
border-radius: 10px;
width: 97%;
/* margin-top: -45px; */


/* background-color: black; */
}

#store-hrs{
  font-size: 12px;
  text-align-last: left;
  margin-left: 5px;
  padding-bottom: 3px;
  font-style: italic;
}

.store-avatar{
  /* float: right; */
  margin-top: -120px;
  float: right;
  margin-right: 10px;
}


.paper{
  width: fit-content;
  height: auto;
  margin: 5px;
}
/* ---------------------------------- */


.header-nav{
height: 50px;
text-align: center;
background-color: #efdb5e;
padding-top:6px;
position: fixed;
z-index: 1;
width: 100%;

}
.logo-name{
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 30px;
  font-weight:bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

.header-welcome{
  align-items: right;
  border-radius: 20px;
}



#find-store{
  font-size: 16px;
  width: 100px;
  /* margin-left: -30px; */
  /* margin-right: -3px; */
  color:black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#margin-top{
  margin-top: 30px;
}

/* PRODUCT CONTAINER - for displaying store products */

.product-container{
  padding-top: 50px;
  /* text-align: -webkit-center; */
  min-width: 320px;
  background-color: rgba(170, 170, 170, 0.281);
  height: 100%;
  
  
}
.product-banner{
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.banner{
  display: block;
  width: 100%; 
  height: 150px;
  filter: brightness(60%);
 
}

.banner-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(252, 228, 11);
  font-size: 50px;
  font-family:cursive;
}
.banner-store-hrs {
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.banner-text-location {
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.banner-logo{
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-list{
  text-align: -webkit-center;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 30px; */
  
}
.product-paper{
  width: fit-content;
  height: fit-content;
  margin: 5px;
  
}
.product-image {
  height: 150px;
  width: 190px;
  /* margin-right: 17px; */
  border: 12px;
}
#product-price{
  font-size: 12px;
  text-align-last: left;
  /* margin-left: 5px; */
  
  padding-bottom: 3px;
  font-style: italic;
}
.product-name{
  background-color: rgba(248, 136, 136, 0.103);
  /* position: relative; */
  border-radius: 10px;
  height: auto;
  margin: 0;

}
#product-name {
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-left: 5px;
text-align: center;
width: 100%;
color: rgb(0, 0, 0);
font-family:cursive;
font-size: 20px;
font-weight:bolder;
/* text-decoration: underline; */
}
.product-cart-btn{
  /* float: right; */
  /* left: 30%; */
  /* transform: translate(-50%, -50%); */

}
/* PRODUCT DETAILS MODAL */
.details-container{
  position:absolute;
  /* background-color: rgb(78, 78, 78); */
  box-shadow: 5;
  padding: 1;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  /* text-align: -webkit-center; */
  border-radius: 10px;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 20px;
}
.modal-none{
  outline: none !important;
  
}
.details-image {
  /* height: 3%; */
  width: 65%;
  margin:0;
  overflow: hidden;

}
.details-swipeable{
width: fit-content;
height:  fit-content;
background-color: rgba(70, 70, 70, 0.219);
text-align: center;
/* margin-bottom: 30px; */
}
.details-name{
  /* background-color: rgba(248, 136, 136, 0.103); */
  margin: 0;
  width: 95%;
  font-family:cursive;
  font-size: 30px;
}
#details-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* margin-left: 5px; */
  /* text-align: center; */
  width: 100%;
  color: rgb(0, 0, 0);
  font-family:cursive;
  font-size: 20px;
  font-weight:bolder;
  padding-left: 5%;
}

/* PRODUCT DETAILS-------------------------------------- */
.addtocart{
  float: right;
  position: fixed;
  bottom: 0;
}
.details-variation-button{
  align-items: center;
}
.details-variation{
  font-family:cursive;
}